<body>
    <div class="main-content">
        <article class="widget">
            <form class="weatherLocation" method="GET" action="/weather">
                <label for="tempSearch">Search your city</label>
                <input placeholder="location..." type="text" name="city" />
                <input type="submit" value="Search" />
            </form>
            <div class="weatherIcon"><i class="wi wi-day-cloudy"></i></div>
            <div class="weatherInfo">
                <div class="temperature"><span></span></div>
                <div class="description">
                    <div class="weatherCondition"></div>
                    <div class="place"></div>
                </div>
            </div>
            <div class="date"></div>
        </article>
    </div>
</body>
