<body>
    <div class="main-content-search">
        <article class="widget-search">
            <form class="weatherLocation" method="GET" action="/weather">
                <label for="tempSearch">Search your city</label>
                <input placeholder="location..." type="text" name="city" />
                <input type="submit" value="Search" />
            </form>
        </article>
    </div>
</body>
