@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css);
/* $border-radius: 20px; */
body {
    background-color: rgb(24, 26, 27);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin-top: 80px;
    padding: 30px;
}

.main-content {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.main-content-search {
    flex-grow: 1;
}

header {
    background-color: rgb(39, 75, 153);
    margin-top: 16px;
    margin-bottom: 48px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
}

nav {
    margin-left: 25%;
}

header img {
    height: 100px;
    margin-left: 40px;
}

header * {
    display: inline;
    justify-content: center;
}

header li {
    margin: 20px;
}

header li a {
    color: white;
    text-decoration: none;
}

h2 {
    font-size: 64px;
    margin-bottom: 16px;
}

.widget {
    margin-top: 150px;
    margin-left: 40em;
    top: 35%;
    left: 50%;
    display: flex;
    height: 300px;
    width: 600px;
    transform: translate(-50%, -50%);
    flex-wrap: wrap;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3),
        0 17px 17px 0 rgba(0, 0, 0, 0.15);
}

.widget-search {
    position: absolute;
    top: 35%;
    left: 50%;
    display: flex;
    height: 300px;
    width: 600px;
    transform: translate(-50%, -50%);
    flex-wrap: wrap;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3),
        0 17px 17px 0 rgba(0, 0, 0, 0.15);

}

.weatherLocation {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    padding: 2rem;
    background-color: #1b1d1e;
}

.weatherLocation button {
    background: #080705;
    color: #fff;
    border: 1px solid transparent;
}
.weatherLocation input:focus {
    outline: 0 none;
}

.widget .temperature {
    flex: 1 100%;
    height: 60%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: #1b1d1e;
    font-family: weathericons;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 100px;
}
.widget .temperature i {
    padding-top: 30px;
}
.widget .weatherInfo {
    flex: 0 0 70%;
    height: 40%;
    background: #080705;
    border-bottom-left-radius: 20px;
    display: flex;
    align-items: center;
    color: white;
}
.widget .weatherInfo .weatherIcon {
    flex: 0 0 40%;
    width: 100%;
    font-size: 35px;
    display: flex;
    justify-content: space-around;
}
.widget .weatherInfo .description {
    flex: 0 60%;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
}
.widget .weatherInfo .description .weatherCondition {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 100;
}
.widget .weatherInfo .description .place {
    font-size: 15px;
}

.place {
    font-size: 30px;
    background-color: #1b1d1e;
    width: 650px;
    text-align: center;
    padding-top: 20px;
}
.widget .date {
    flex: 0 0 30%;
    height: 40%;
    background: rgb(68, 112, 207);
    border-bottom-right-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-size: 30px;
    font-weight: 800;
}

.date span {
    margin-left: 10px;
}
p {
    position: fixed;
    bottom: 0%;
    right: 2%;
}
p a {
    text-decoration: none;
    color: #e4d6a7;
    font-size: 10px;
}

.login {
    display: flex;
    justify-content: center;
}

.register {
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
}

.register * {
    display: inline;
}

.reg-button {
    width: 100px;
    border-radius: 3px;
}

.wrapper {
    background-color: #3b3b3b;
    list-style-type: none;
    padding: 0;
    border-radius: 3px;
}
.form-row {
    display: flex;
    justify-content: flex-end;
    padding: 0.5em;
}
.form-row > label {
    padding: 0.5em 1em 0.5em 0;
    flex: 1;
}
.form-row > input {
    flex: 2;
}
.form-row > input,
.form-row > button {
    padding: 0.5em;
}
.form-row > button {
    background: gray;
    color: white;
    border: 0;
}
